* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.open-sans-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


body {
  background-color: rgb(236, 236, 236);

}



header {
  height: 5rem;
  background-color: indigo;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {

  height: 6.25rem;
  width: 100%;
  background-color: indigo;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: 1.3rem;

}



main {
  flex: 1;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

nav > ul > li {
  display: inline;
}

nav > ul  {
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

li > a, #welcomeUser  {
  padding: .5rem 2rem;
  font-size: 1.2rem;
  color: white;
  font-weight: bolder;
}

#welcomeUser > span{
  color: rgb(5, 231, 5);
  text-transform: uppercase;
  font-weight: bolder;
}


nav > ul  > li > a:hover{
  background-color: white;
  color: indigo;
  border-radius: 10px;
  cursor: pointer;
}



.inputBtnStyle {
  background-color: indigo;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
  padding: 7px;
  
}

.inputStyle {
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  padding: 5px;
}

textarea {
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  padding: 10px;
}



.inputRegister {
  padding: 6px;
  border-radius: 4px;

}

.sectionRegister, .sectionLogin {
  width: 500px;
  margin: 15rem auto;
  background-color: rgb(255, 255, 255);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.sectionRegister > h2{
  text-align: center;
  color: indigo;
  font-size: 1.8rem;
  letter-spacing: 3px;
}

#containerRegister > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}



#containerRegister > div > div{
  display: flex;
  flex-direction: column;
}

#containerCardInfo {
  display: flex;
  justify-content: space-between;
}

#containerCard {
  width: 70%;
}

#containerCvc {
  width: 20%;
}

#btnRegistro, #btnLogin, .btnBuy {
  width: 100%;
  padding: 7px;
}

.sectionLogin > h2{
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 3px;
  color: indigo;
}

.sectionLogin > p {
  text-align: center;
  padding-top: 1.2rem;
}


.sectionLogin  > div > input {
  padding: 7px;
  border-radius: 4px;
  width: 60%;
  background-color: rgb(231, 228, 228);
} 


.sectionLogin  > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}


.sectionProducts {
  display: flex;
}



.cardProduct {
  width: 300px;
  
  margin: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  background-color: white;
  font-size: smaller;
}



.containerImgProd {
  width: 100%;
  height: 300px;
  
}

.containerImgProd > div {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.containerImgProd > div > img  {
  width: 100%;
  max-height: 100%;
  filter: brightness(1.1);
  mix-blend-mode: multiply;

} 



.cardProduct > h2  {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
}

.cardProduct > p {
  width: 100%;
  margin: .5rem 0;
  text-align: center;
}

#containerPrice {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#containerPrice > div > button{
  width: 30px;
  height: 30px;
  margin: 5px;
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: indigo;
  cursor: pointer;
}

.offerTrue {
  background-color: green;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.errorMsg > p{
  background-color: red;
  padding: 7px;
  border-radius: 5px;
  margin: .5rem 0;
  color: white;
  font-weight: bolder;
}

#sectionBuyUser, #sectionBuyAdmin {
  width: 60%;
  margin: auto;
}




#sectionOffers {
  display: flex;
  justify-content: center;

}

#offerTitle{
  text-align: center;
}

#sectionBuyAdmin > h2 {
    margin: 3rem 0 1rem 0;
}


main > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


/* SECTION CREATE PRODUCT */



.sectionCreateProduct {
  width: 500px;
  margin: 3rem auto;
}

.sectionProductsTableEdit  {
  width: 70%;
  margin: 3rem auto;

}




.sectionProductsTableEdit > div {

  height: 550px;
  overflow-y: scroll;
}

.sectionProductsTableEdit > div > table{
  width: 100%;
  border-collapse: collapse;
  
}


th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 1.3rem;
}

tr:nth-child(even) {
  background-color: #ffffff;
}

.sectionProductsTableEdit > h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.Activo{
  background-color: green;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
  padding: 7px 2.4rem;
}

.Pausado {
  background-color: red;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
  padding: 7px 2rem;
}

.SI {
  background-color: green;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
  padding: 7px 2.2rem;
  
}

.NO {
  background-color: red;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
  padding: 7px 2rem;
  width: 2rem;
}



#containerProductInfo {
  display: flex;
  justify-content: space-between;
}

#containerBtnAddProd {
  width: 50%;
}

#containerBtnPriceStock {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

#containerBtnPriceStock > div {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 2rem;
}

#containerBtnPriceStock > div > input {
  height: 25px;
  transform: scale(1.5); 
  margin-left: 10px;
}



#prodName {
  width: 100%;
  padding: 7px;
  margin: 1rem 0;
}

#prodURL {
  margin: 1rem 0;
}

.smallInput {
  width: 5rem;
  padding: 7px;
}

.largeInput {
  width: 100%;
}

#containerProductsTable > tr > td > img{
  width: 5rem;
}

#containerProductsTableEdit > tr > td > img{
  width: 5rem;
}




.cardEdit {
  display: flex;
  justify-content: space-between;
  height: 300px;
  width: 600px;
}

.containerHeaderEdit > img{
  width: 100%;
  height: 100%;
}

.offerStatus {
  width: 1.5rem;
  height: 1.5rem;
}

.containerAddStock {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerStates {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.containerStates > div{
  display: flex;
  align-items: center;

}

.containerBodyEdit > div > input {
  padding: 5px;

}

.containerBodyEdit {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 40%;
}

.btnAddStock {
  width: 1.5rem;
  height: 1.5rem;
}

.containerAddStock > div > button {
  width: 1.5rem;
  height: 1.5rem;
}

.containerInfoAddStock {
  display: flex;
  justify-content: space-between;
  height: 150px;
}

.sectionOffer > div > h2, .sectionProducts > div >h2, .sectionBuys > div > h2, .sectionProductsTableEdit{
  text-align: center;
  font-size: 2.2rem;
  color: rgb(59, 2, 100);
}

.sectionOffer, .sectionProducts {
  justify-content: center;
}

.containerProducts, .containerOfferProducts{
  margin: auto;
  display: flex;
 flex-wrap: wrap;
 justify-content: center;
}


.sectionBuys > div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.sectionBuys > div > table {
  margin-top: 2rem;
  border-collapse: collapse;
}

.sectionBuys > div > div {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.sectionBuys > div > div > input {
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  color: white;
  padding: 7px;
}

.sectionBuys > div > div > input.btnPend {
  background-color: indigo;
}

.sectionBuys > div > div > input.btnConf {
  background-color: green;
}

.sectionBuys > div > div > input.btnDeny {
  background-color: red;
}

.btnAcceptBuy, .btnDenyBuy {
  font-size: 1.2rem;
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border-color: transparent;
  font-weight: bolder;
  text-align: right;
  cursor: pointer;
  margin: 0 5px;
}

.titleBuysState {
  color: indigo;
  padding-left: 2rem;
  font-size: 1.6rem;
  margin-top: 3rem;
}